---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{%- include head.html -%}
<body>
        {%- include header.html -%}
        <div class="col-lg-12">
            {{ content }}
        </div>
        {%- include footer.html -%}
     <!--script>
            var options = {
                classname: 'my-class',
                id: 'my-id'
            };
            var nanobar = new Nanobar( options );
            nanobar.go( 7 );
            nanobar.go( 14 );
            nanobar.go( 21 );
            nanobar.go( 28 );
            nanobar.go( 35 );
            nanobar.go( 42 );
            nanobar.go( 49 );
            nanobar.go( 56 );
            nanobar.go( 63 );
            nanobar.go( 70 );
            nanobar.go( 77 );
            nanobar.go( 84 );
            nanobar.go( 91 );
            nanobar.go( 98 );
            nanobar.go( 100 );
        </script-->

   <script src="{{site.url}}{{site.baseurl}}/assets/js/mode-switcher.js"></script>
   <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>